* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

:root {
    --firstColor: #348ada;
    --secondColor: #4f4f4f;
    --thirdColor: #e6f0fa;
    --firstBgColor: #08121a;
    --secondBgColor: #161b22;
}

body {
    background-color: var(--firstBgColor);
    overflow: hidden;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
}
#header__nav {
    display: flex;
    gap: 2rem;
    margin: 0 2% 0 0;
}
#header__logo {
    margin: 0 0 0 2rem;
    width: 12%;
}


#save-canvas {
    position: absolute;
    z-index: -44444;
    /* bottom: 100vh; */
}
.header__btn {
    background-color: var(--firstBgColor);
    width: 30px;
    height: 30px;
}

.valid-btn {
    background-color: transparent;
    width: 100px;
    height: 3em;
}
.header__btn, .valid-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    /* color: #8b949e; */
    color: var(--secondColor);
    text-decoration: none;
}
.header__btn {
    position: relative;
}
.header__svg, .node__btn-svg, .input-svg {
    fill: var(--firstColor); 
    stroke: none; 
}
.node__btn-svg, .input-svg {
    width: 100%;
    height: 100%;
}
.header__svg:hover, .node__btn-svg:hover, .input-svg:hover {
    fill: var(--thirdColor);
    -webkit-filter: drop-shadow( 1px 1px 5px var(--firstColor));
    filter: drop-shadow( 1px 1px 5px var(--firstColor));
    transform: scale(1.2);
}

#save-file::before {
    position: absolute;
    content: "";
    z-index: 1;
    right: 24%;
    bottom: 24%;
    width: 12%;
    height: 12%;
    border-radius: 50%;
    background-color: var(--firstColor);
    transform: scale(0);
}
@keyframes light {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
#save-file:hover::before {
    animation: light .2s linear 5;
}


.valid-btn, #cancel__btn {
    color: var(--firstColor);
}

.valid-btn:hover, #cancel__btn:hover {
    color: var(--thirdColor);
    text-shadow: 1px 1px 4px var(--firstColor), -1px 1px 4px var(--firstColor), 1px -1px 4px var(--firstColor), -1px -1px 4px var(--firstColor);
    cursor: pointer;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

#main-canvas {
    background-color: var(--secondBgColor);
    border: 1px solid var(--secondColor);
    border-radius: .7rem;
}

.main__landmarks {
    position: absolute;
    z-index: -2;
}
#landmark__vertical {
    width: 2px;
    height: 102%;
    top: -1%;
    left: 0;
    background: linear-gradient(to top, var(--firstColor) .8%, var(--firstBgColor) 1% 99%, var(--firstColor) 99.2%);
}

#landmark__horizontal {
    width: 99%;
    height: 2px;
    top: 0;
    left: .5%;
    background: linear-gradient(to right, var(--firstColor) .8%, var(--firstBgColor) 1% 99%, var(--firstColor) 99.2%);
}

#file__input {
    display: none;
}

#node__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    top: 20%;
    left: 20%;
    position: absolute;
    z-index: -6;
    --size: calc(80px + 1em);
    width: var(--size);
    height: var(--size);
}

button, a, .node__menu-type-img {
    cursor: pointer;
}

button:disabled .header__svg,
button:disabled .input-svg {
    fill: var(--secondColor);
}
button:disabled .header__svg:hover,
button:disabled .input-svg:hover {
    transform: scale(1);
    filter: brightness(1);
}
.valid-btn:disabled {
    color: var(--secondColor);
}
.valid-btn:disabled:hover {
    text-shadow: none;
}
#node__form {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -5;
    background-color: rgba(8, 18, 26, .9);
    padding: 1% 1% 0 1%;
    width: 100%;
    height: 100%;
}
#form-btn {
    display: flex;
    width: fit-content;
    height: fit-content;
}
#node__menu-type {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    gap: 2%;
    z-index: -5;
    background-color: rgba(8, 18, 26, .9);
    padding: 4%;
    width: 92%;
    height: 92%;
}
#node__menu-type div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}
#cancel__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 50px;
    background-color: var(--firstBgColor);
    border: none;
}
.node__menu-type-img {
    width: 10em;
    height: 10em;
    border-radius: .5rem;
    margin: 0 0 2% 0;
    background-color: var(--secondBgColor);
    border: 1px solid var(--secondColor);
}
.node__menu-type-img:hover {
    filter: brightness(1.2);
    border: 1px solid var(--firstColor);
}
#form {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 10% 0 10%;
}
.model-input {
    border-radius: .5rem;
    border: 1px solid var(--secondColor);
    background-color: var(--secondBgColor);
    color: var(--thirdColor);
    padding: 5px;
    height: 7em;
}
.model-input::placeholder {
    color: var(--secondColor);
}
#input-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.input-btn {
    padding: 5px;
    border-radius: .5rem;
    background-color: var(--secondBgColor);
    border: 1px solid var(--secondColor);
    max-height: calc(8em - 2px);
    min-height: 2em;
    width: 2em;
}
.model-input:focus {
    outline: none;
    border: 1px solid var(--firstColor);
}
.model-input:hover, .input-btn:hover {
    background-color: var(--firstBgColor);
}
.input-btn:disabled:hover {
    background-color: var(--secondBgColor);
}


.node__btn {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    background-color: var(--firstBgColor);
    border: 1px solid var(--secondColor);
    border-radius: .7rem;
}
.model-condition {
    margin: 0 0 1em 0;
}

#copyright {
    position: absolute;
    bottom: .1em;
    right: 1.8em;
    color: var(--secondColor);
    font-family: 'Courier New', Courier, monospace;
    font-size: .6em;
    font-weight: 700;
}
