* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

body {
    background-color: #08121a;
    overflow: hidden;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
}
#header__nav {
    display: flex;
    gap: 2rem;
    margin: 0 2% 0 0;
}
#header__logo {
    margin: 0 0 0 2rem;
    width: 12%;
}


#save-canvas {
    position: absolute;
    z-index: -44444;
    /* bottom: 100vh; */
}
.header__btn {
    background-color: #08121a;
    width: 30px;
    height: 30px;
}
/* .header__btn {
    background-color: #08121a;
    width: 40px;
    height: 40px;
    box-shadow: 0px 3px 8px #03090c, inset 0px 1px 1px #30363d;
    position: relative;
    border: 1px solid #03090c;
    transform-origin: top left;
} */
.valid-btn {
    background-color: transparent;
    width: 100px;
    height: 3em;
}
.header__btn, .valid-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    color: #8b949e;
    text-decoration: none;
}
.header__btn {
    position: relative;
}
.header__svg, .node__btn-svg, .input-svg {
    fill: #348ada; 
    stroke: none; 
}
.node__btn-svg, .input-svg {
    width: 100%;
    height: 100%;
}
.header__svg:hover, .node__btn-svg:hover, .input-svg:hover {
    fill: #a5cbef;
    -webkit-filter: drop-shadow( 0 0 6px #a5cbef);
    filter: drop-shadow( 0 0 6px #a5cbef);
    /* filter: brightness(1.6); */
    transform: scale(1.2);
}

#save-file::before {
    position: absolute;
    content: "";
    z-index: 1;
    right: 24%;
    bottom: 24%;
    width: 12%;
    height: 12%;
    border-radius: 50%;
    background-color: #348ada;
    transform: scale(0);
}
@keyframes light {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
#save-file:hover::before {
    animation: light .2s linear 5;
}


.valid-btn, #cancel__btn {
    color: #348ada;
}

.valid-btn:hover, #cancel__btn:hover {
    color: #a1d6E2;
    text-shadow: 1px 1px 4px #348ada, -1px 1px 4px #348ada, 1px -1px 4px #348ada, -1px -1px 4px #348ada;
    cursor: pointer;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* height: 92vh; */
    width: 100%;
}

#main-canvas {
    background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: .7rem;
}

.main__landmarks {
    position: absolute;
    z-index: -2;
}
#landmark__vertical {
    width: 2px;
    height: 102%;
    top: -1%;
    left: 0;
    background: linear-gradient(to top, #348ada .8%, #08121a 1% 99%, #348ada 99.2%);
}

#landmark__horizontal {
    width: 99%;
    height: 2px;
    top: 0;
    left: .5%;
    background: linear-gradient(to right, #348ada .8%, #08121a 1% 99%, #348ada 99.2%);
}

#file__input {
    display: none;
}

#node__menu {
    display: flex;
    gap: 1em;
    top: 20%;
    left: 20%;
    position: absolute;
    z-index: -6;
    background-color: #08121a;
    border: 1px solid #30363d;
    border-radius: .7rem;
    padding: 1% 1% 1% 1%;
    width: fit-content;
    height: fit-content;
}

button, a, .node__menu-type-img {
    cursor: pointer;
}

button:disabled .header__svg,
button:disabled .input-svg {
    fill: #30363d;
}
button:disabled .header__svg:hover,
button:disabled .input-svg:hover {
    transform: scale(1);
    filter: brightness(1);
}
.valid-btn:disabled {
    color: #30363d;
}
.valid-btn:disabled:hover {
    text-shadow: none;
}
#node__form {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -5;
    background-color: rgba(8, 18, 26, .8);
    padding: 1% 1% 0 1%;
    width: 100%;
    height: 100%;
}
#form-btn {
    display: flex;
    width: fit-content;
    height: fit-content;
}
#node__menu-type {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    gap: 2%;
    z-index: -5;
    background-color: rgba(8, 18, 26, .8);
    padding: 4%;
    width: 92%;
    height: 92%;
}
#node__menu-type div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}
#cancel__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 50px;
    background-color: #08121a;
    border: none;
}
.node__menu-type-img {
    width: 10em;
    height: 10em;
    border-radius: .5rem;
    margin: 0 0 2% 0;
    background-color: #161b22;
    border: 1px solid #767676;
    color: #ffffff;
}
.node__menu-type-img:hover {
    filter: brightness(1.2);
    border: 1px solid #348ada;
}
#form {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 10% 0 10%;
}
.model-input {
    border-radius: .5rem;
    border: 1px solid #767676;
    background-color: #161b22;
    padding: 5px;
    color: #a1d6E2;
    height: 7em;
}
#input-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.input-btn {
    border: 1px solid #767676;
    padding: 5px;
    border-radius: .5rem;
    background-color: #161b22;
    max-height: calc(8em - 2px);
    min-height: 2em;
    width: 2em;
}
.model-input:focus {
    outline: none;
    border: 1px solid #348ada;
}
.model-input:hover, .input-btn:hover {
    background-color: #08121a;
}
.input-btn:disabled:hover {
    background-color: #161b22;
}

p {
    color: #a1d6E2;
}
.node__btn {
    background-color: transparent;
    border: none;
    color: #a1d6E2;
    width: 20px;
    height: 20px;
}
.model-condition {
    margin: 0 0 1em 0;
}

#copyright {
    position: absolute;
    bottom: .1em;
    right: 1.8em;
    color: #8b949e;
    font-family: 'Courier New', Courier, monospace;
    font-size: .6em;
}
