* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
:root {
    --firstColor: #348ada;
    --secondColor: #4f4f4f;
    --thirdColor: #e6f0fa;
    --firstBgColor: #08121a;
    --secondBgColor: #161b22;
}
body {
    background-color: var(--firstBgColor);
    overflow: hidden;
}

/* 
    Canvas
*/

#save-canvas {
    position: absolute;
    z-index: -44444;
}
#main-canvas {
    background-color: var(--secondBgColor);
    border: 1px solid var(--secondColor);
    border-radius: .7rem;
}
#canvas__wrapper {
    position: relative;
    width: calc(98% + 2px);
    height: auto;
}

/* 
    Header 
*/ 

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
}
#header__nav {
    display: flex;
    gap: 2rem;
    margin: 0 2% 0 0;
}
#header__logo {
    margin: 0 0 0 2rem;
    width: 12%;
}
.header__btn {
    width: 30px;
    height: 30px;
    position: relative;
}
.header__btn, 
.node__btn {
    transition: transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header__btn:not([disabled]):hover {
    transform: scale(1.1);
}
.node__btn:not([disabled]):hover {
    transform: scale(1.05);
}
.header__btn:not([disabled]):hover, 
.node__btn:not([disabled]):hover {
    filter: brightness(1.6);
}
.header__btn:disabled {
    opacity: 0.3;
}
#menu-add {
    background: no-repeat url("./assets/icons/add-icon.svg");
}
#menu-undo {
    background: no-repeat url("./assets/icons/undo-icon.svg");
}
#menu-redo {
    background: no-repeat url("./assets/icons/redo-icon.svg");
}
#menu-save {
    background: no-repeat url("./assets/icons/save-icon.svg");
}
#menu-open {
    background: no-repeat url("./assets/icons/open-icon.svg");
}
#menu-new {
    background: no-repeat url("./assets/icons/new-icon.svg");
}
#menu-info {
    background: no-repeat url("./assets/icons/info-icon.svg");
}




#form-valid, #form-cancel {
    background-color: transparent;
    width: 100px;
    height: 3em;
}
.header__btn, #form-valid,
#form-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    color: var(--secondColor);
    text-decoration: none;
}
.header__btn {
    position: relative;
}
.header__svg,  
.input-svg, .tab__menu-btn-svg {
    fill: var(--firstColor); 
    stroke: none; 
}
.input-svg, 
.tab__menu-btn-svg, #node__form {
    width: 100%;
    height: 100%;
}
.header__svg:hover, 
.input-svg:hover, .tab__menu-btn-svg:hover {
    fill: var(--thirdColor);
    -webkit-filter: drop-shadow( 1px 1px 5px var(--firstColor));
    filter: drop-shadow( 1px 1px 5px var(--firstColor));
    transform: scale(1.2);
}

#save-file::before {
    position: absolute;
    content: "";
    z-index: 1;
    right: 24%;
    bottom: 24%;
    width: 12%;
    height: 12%;
    border-radius: 50%;
    background-color: var(--firstColor);
    transform: scale(0);
}
@keyframes light {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
#save-file:hover::before {
    animation: light .2s linear 5;
}


#form-valid, #form-cancel,
#type-6 {
    color: var(--firstColor);
}

#form-valid:hover, #form-cancel:hover,
#type-6:hover {
    color: var(--thirdColor);
    text-shadow: 1px 1px 4px var(--firstColor), -1px 1px 4px var(--firstColor), 1px -1px 4px var(--firstColor), -1px -1px 4px var(--firstColor);
    cursor: pointer;
}

/* 
    Main
*/ 

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

/* 
    Tab Menu
*/

#tab__menu {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 6vh;
    background-color: var(--firstBgColor);
    /* overflow: hidden; */
    z-index: -5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tab__wrapper {
    width: 90%;
    height: 80%;
    padding: 0 5% 0 5%;
    display: flex;
    justify-content: flex-start;
}
#tab__menu-decor {
    width: calc(100% - 2px);
    height: 20%;
    border-top: 1px solid var(--secondColor);
    border-left: 1px solid var(--secondColor);
    border-right: 1px solid var(--secondColor);
    border-bottom: none;
    border-top-right-radius: .7em;
    border-top-left-radius: .7em;
    background-color: var(--secondBgColor);
}
#menu-tab {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
    width: 26px;
    height: 15px;
    color: var(--firstColor);
    background-color: var(--firstBgColor);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--secondColor);
    border-left: 1px solid var(--secondColor);
    border-right: 1px solid var(--secondColor);
    border-top: 1px solid var(--firstBgColor);
    border-bottom-right-radius: .3em;
    border-bottom-left-radius: .3em;
}
.tab-inactive, .tab-active {
    position: relative;
    width: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
}
.tab-inactive {
    background-color: var(--firstBgColor);
    height: calc(100% - 2px);
    color: var(--secondColor);
    border: 1px solid transparent;
}
.tab-inactive button {
    transform: scale(0);
}
.tab-inactive::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 30%;
    top: 60%;
    left: 1px;
    background-color: var(--secondColor);
}
.tab-active {
    background-color: var(--secondBgColor);
    height: calc(100% + 1px);
    color: var(--secondColor);
    border-top: 1px solid var(--secondColor);
    border-left: 1px solid var(--secondColor);
    border-right: 1px solid var(--secondColor);
    border-bottom: none;
    border-top-right-radius: .7em;
    border-top-left-radius: .7em;
}
.tab-active button {
    transform: scale(1);
}
.tab-active::before,
.tab-active::after {
    position: absolute;
    content: "";
    width: 20px;
    bottom: 1px;
    height: 50%;
    z-index: 3;
    border-top: none;
    border-bottom: 1px solid var(--secondColor);
}
.tab-active::before {
    left: -21px;
    border-bottom-right-radius: .7em;
    border-right: 1px solid var(--secondColor);
    border-left: none;
    background: radial-gradient(circle at top left, transparent 65%, var(--firstBgColor) 65%);
    box-shadow: 5px 5px 5px var(--secondBgColor);
}
.tab-active::after {
    right: -21px;
    border-bottom-left-radius: .7em;
    border-left: 1px solid var(--secondColor);
    border-right: none;
    background: radial-gradient(circle at top right, transparent 65%, var(--firstBgColor) 65%);
    box-shadow: -5px 5px 5px var(--secondBgColor);
}
.tab__close-btn {
    position: absolute;
    top: calc(50% - 10px);
    right: 5px;
    width: 20px;
    height: 20px;
    color: var(--firstColor);
    border: none;
    /* background-color: var(--secondBgColor); */
    background: no-repeat url("./assets/icons/close-icon.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.tab__close-btn:hover {
    transform: scale(1.2);
    filter: brightness(2);
}
.tab__input {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: var(--secondBgColor);
    color: var(--secondColor);
    border: none;
}

/* 
    Landmarks
*/

.main__landmarks {
    position: absolute;
    z-index: -2;
}
#landmark-v {
    width: 2px;
    height: 92vh;
    top: -.9vh;
    left: 0;
    background: linear-gradient(to top, var(--firstColor) 4px, var(--firstBgColor) 5px calc(100% - 5px), var(--firstColor) calc(100% - 4px));
}
#landmark-h {
    width: 99%;
    height: 2px;
    top: 0;
    left: .5%;
    background: linear-gradient(to right, var(--firstColor) 4px, var(--firstBgColor) 5px calc(100% - 5px), var(--firstColor) calc(100% - 4px));
}


#file__input {
    display: none;
}

/* 
    Node menu
*/
#node__nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 20%;
    left: 20%;
    position: absolute;
    z-index: -6;
    width: 140px;
    height: 90px;
}

#node__nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 140px;
    height: 40px;
}

button, a, .node__menu-type-img,
.tab-active, .tab-inactive {
    cursor: pointer;
}
button:disabled {
    cursor: default;
    opacity: .3;
}

button:disabled .header__svg,
button:disabled .input-svg {
    fill: var(--secondColor);
}
button:disabled .header__svg:hover,
button:disabled .input-svg:hover {
    transform: scale(1);
    filter: brightness(1);
}

#node__form {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -5;
    background-color: rgba(8, 18, 26, .9);
    padding: 1% 1% 0 1%;
}
#form-btn {
    display: flex;
    width: fit-content;
    height: fit-content;
}
#type__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    gap: 2%;
    z-index: -5;
    background-color: rgba(8, 18, 26, .9);
    padding: 4%;
    width: 92%;
    height: 92%;
}
#type__nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}
#type-5 {
    background: no-repeat url("./assets/images/issue.jpg");
}
#type-4 {
    background: no-repeat url("./assets/images/assignment.jpg");
}
#type-3 {
    background: no-repeat url("./assets/images/switch.jpg");
}
#type-2 {
    background: no-repeat url("./assets/images/loop.jpg");
}
#type-1 {
    background: no-repeat url("./assets/images/condition.jpg");
}
#type-0 {
    background: no-repeat url("./assets/images/break.jpg");
}
#type-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 50px;
    background-color: var(--firstBgColor);
    border: none;
}
#type-0, #type-1,
#type-2, #type-3,
#type-4, #type-5 {
    background-size: contain;
}
.type__btn {
    width: 10em;
    height: 10em;
    border-radius: .5rem;
    margin: 0 0 2% 0;
    border: 1px solid var(--secondColor);
}
.type__btn:hover,
.type__btn:focus {
    filter: brightness(1.2);
    border: 1px solid var(--firstColor);
}
.type__btn:focus {
    outline: none;
}

#form {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 10% 0 10%;
}
.model-input {
    border-radius: .5rem;
    border: 1px solid var(--secondColor);
    background-color: var(--secondBgColor);
    color: var(--thirdColor);
    padding: 5px;
    height: 7em;
}
.model-input::placeholder {
    color: var(--secondColor);
}
#input-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.input-btn {
    padding: 5px;
    border-radius: .5rem;
    background-color: var(--secondBgColor);
    border: 1px solid var(--secondColor);
    max-height: calc(8em - 2px);
    min-height: 2em;
    width: 2em;
}
.model-input:focus {
    outline: none;
    border: 1px solid var(--firstColor);
}
.model-input:hover, .input-btn:hover {
    background-color: var(--firstBgColor);
}
.input-btn:disabled:hover {
    background-color: var(--secondBgColor);
}


.node__btn {
    width: 40px;
    height: 40px;
    background-color: var(--firstBgColor);
    border: 1px solid var(--secondColor);
    border-radius: .7rem;
}
.node__btn img {
    width: 100%;
    height: 100%;
}

#node-link {
    background: no-repeat url("./assets/icons/link-icon.svg");
}
#node-unlink {
    background: no-repeat url("./assets/icons/unlink-icon.svg");
}
#node-erase {
    background: no-repeat url("./assets/icons/erase-icon.svg");
}
#node-modify {
    background: no-repeat url("./assets/icons/modify-icon.svg");
}
#node-breakdown {
    background: no-repeat url("./assets/icons/breakdown-icon.svg");
}

.model-condition {
    margin: 0 0 1em 0;
}

#copyright {
    position: absolute;
    bottom: .1em;
    right: 3em;
    color: var(--secondColor);
    font-family: 'Courier New', Courier, monospace;
    font-size: .6em;
    font-weight: 700;
}
